In [10]:
a_list = [10,20,30,20,10,50,60,40,80,50,40]
a_list.reverse()
a_list

[40, 50, 80, 40, 60, 50, 10, 20, 30, 20, 10]

In [12]:
a_list = [10,20,30,35,50,45,60,55,80,75,25]
print('The smallest number in the list is', min(a_list), 'and the largest is', max(a_list))

The smallest number in the list is 10 and the largest is 80

In [14]:
items = [6, 50, 100, 7000]
total = sum(items)
print(total)

7156

In [16]:
a = input("enter name, age, city, and course").split(",")
student = tuple(a)
print(student)

enter name, age, city, and courseprapul,20,hyderabad,cse
('prapul', '20', 'hyderabad', 'cse')

In [19]:
tup_count = len(student)
tup_count

4

In [21]:
s_name = student[0]
s_age = student[1]
s_city = student[2]
s_course = student[3]

In [22]:
print(s_name , s_age , s_city , s_course)

prapul 20 hyderabad cse

In [23]:
colors = {'col1':'Red','col2':'Blue','col3':'Yellow'}

In [24]:
colors['col4'] = 'Green'

In [25]:
colors['col2'] = 'orange'

In [26]:
colors

{'col1': 'Red', 'col2': 'orange', 'col3': 'Yellow', 'col4': 'Green'}

In [27]:
a = ('col1','col2')
colors_new = colors.fromkeys(a)

In [29]:
print(colors)
print(colors_new)

{'col1': 'Red', 'col2': 'orange', 'col3': 'Yellow', 'col4': 'Green'}
{'col1': None, 'col2': None}

In [30]:
colors.clear()

In [33]:
print(colors_new['col2'])

None

In [34]:
def ma(a,b=6,c=1):
    return a*b+c
try:
    ma()
except TypeError:
    print("Give atleast 1 and atmost 3 arguments")

Give atleast 1 and atmost 3 arguments